body {
  background-color: #41436A; }
  body container .secondary-logo-webpage-body {
    height: 250px;
    width: 250px;
    margin-left: 50px; }
  body container nav {
    border: white 2px solid; }

header h3 {
  color: #f0f8ff;
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px; }

h1 {
  color: #FF9677; }

h2 {
  color: #F54768; }

.navbar-collapse {
  flex-grow: 0; }

.nav-link {
  color: #f0f8ff;
  font-size: 18px;
  font-family: "Play", sans-serif;
  margin-left: 25px; }
  .nav-link:hover {
    font-weight: bolder;
    transition: all 0.5s ease; }
    @media screen and (min-width: 991px) {
      .nav-link:hover {
        font-weight: normal;
        transform: scale(1.3);
        transition: all 0.5s ease; } }

main container .shopping-cart {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 40px;
  padding-bottom: 10px;
  justify-content: space-around;
  gap: 30px;
  list-style: none; }
  main container .shopping-cart .product-card {
    border: #000000 3px solid;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 15px;
    height: auto;
    width: 900px; }
    main container .shopping-cart .product-card img {
      padding-bottom: 30px; }
    main container .shopping-cart .product-card .add-to-cart {
      border: #000000 1px solid;
      text-align: center;
      padding: 10px; }
