.navbar-collapse {
    flex-grow: 0;
}

// Personalizo la "NAVBAR"

.nav-link {
    color: $color5;
    font-size: 18px;
    font-family: $site-title-font;
    margin-left: 25px;

    &:hover{
        // Versión Móvil (Mobile First)
            font-weight: bolder;
            transition: all 0.5s ease;
 
        // Versión PC
    
            @media screen and (min-width: 991px) {
                font-weight: normal;
                transform: scale(1.3);
                transition: all 0.5s ease;
            }
    }
}